<html lang="en">
    <head>
        <title>my html</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
    <style>
       .bg-3{
            background-color: orangered;
            color: black;
            font-size: 100px;
            text-align: center;   
        }
        .bg-2{
            text-align: center;
            font-size: 50px;
        }
    </style>
    </head>
    <div class="container bg-3">
    <p>ABC SUPERMARKET</p>
    </div>
    <br><br>
    <div class="container bg-2">
    <center><p>Item added to cart successfully</p></center></div>
</html>